/* section four starts or section get in touch  */
.section-four {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100%;
  margin-top: 50px;
}

.section-four-context {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 10px;
}

.section-four-context-content {
  margin:45px;
}

.section-four-context img {
  border-radius: var(--border-radius);
  border: 2px solid var(--main-color);
  cursor: pointer;
  margin-bottom: 20px;
  width: 90px;
}

.section-four-context img:hover{
  width: 70px;
  
}

.section-four-context h5{
  font-size: 28px;
  margin-bottom: 15px;
}

.section-four-context p {
  font-size: 15px;
}
